<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Favorite: <%= title %></h1>
    <p>Favorite <%= title %></p>
    <br>
    <a href="/">Back to home</a>
  </body>
</html>