<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/images/image1.jpg">  
    <ul>
        <li><a href="/favorite">Favorite</a></li>
        |
        <li><a href="/good">Good</a></li>
    </ul>
  </body>
  <script src="/javascripts/client.js"></script>
</html>